*{
  margin: 0;
  padding: 0;
}
header{
background-image: url(img/background.jpg);
width: 100%;
background-position: center;
background-size: cover;
position: relative;
height: 600px;
}
header::before{
  content: '';
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  background-color: #0e1231;
  opacity: 0.7
}
.header{
  max-width: 1170px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  z-index: 2;
  position: inherit;
}
.header h1{
  color: #E4E4E4;
  text-align: center;
  font-size: 55px;
  margin: 30px 0px;
  font-family: Helvetica, Arial, sans-serif;
}
.buttomhead{
  display: flex;
margin: 0px 10px;
}
.buttom{
  margin: 10px;
  width: 200px;
height: 50px;
border: none;
 font-size: 26px;
cursor: pointer;
 box-shadow: 0 0 10px rgba(0,0,0,0.5);
box-shadow: 0px 5px 7px rgba(255,0,30,0.3);
background-color: #f4213a;
}
.buttom a{

  color: #ffffff;
  width: 200px;
  display: block;
height: 50px;
    text-align: center;
    margin-top: 5px;
  line-height: 30px;
 font-size: 20px;
 text-decoration: none;
 font-family: "Segoe UI";
 font-weight: 300;
}
.buttom:hover{
  background-color: rgba(0,0,0,0.01);
  border: 1px solid #ffe524;
  box-shadow: 0 0 10px #ffe524;
  color: #ffffff;
  line-height: 30px;
 font-size: 20px;
 text-decoration: none;
 font-family: "Segoe UI";
 font-weight: 300;
}
.analysis{
  display: flex;
  margin: 20px auto;
  text-align: center;
  justify-content: center;
  height: 300px;
  background-color: #f85c50;
  align-items: center;

}
.analysis h1{
  margin: 0px 20px;
    color: white;
    border-bottom: 2px solid white;
    font-family: 'Open Sans',Arial,sans-serif;
    font-weight: 300;
        font-size: 25px;
}
.agitation{
  max-width: 1170px;
  margin: 20px auto;
  text-align: center;
  height: 100px;
}
.agitation h1{
  font-family: 'Open Sans',Arial,sans-serif;
  font-weight: 300;
  color: #000;
      font-size: 30px;
}
.project a {
  color: black;
}

.project{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  text-align: center;
  height: 100px;
  background-color: #f85c50;
}
.project h1{
  color: white;

  font-family: 'Open Sans',Arial,sans-serif;
  font-weight: 300;
      font-size: 35px;
}
.content{
  max-width: 1170px;
  display: flex;
  margin: 20px auto ;
  padding: 20px;
  border: 2px solid #ce8d8d;
  background-color: #d9c8c854;
}
.content_text{
  flex: 50%;
  margin: 0px 20px;

}
.content_items{
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images{
width: 100%;
}

a{
  text-decoration: none;
      color: #ff8562;
}
p{
  font-family: 'Open Sans',Arial,sans-serif;
    font-weight: 300;
    color: #000;
    margin: 10px 0px;
}
.pojbuttom{
  width: 450px;
  height: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 2px solid black;
margin-bottom: 20px;

      font-size: 15px;
    cursor: pointer;
    margin: auto;
    box-sizing: content-box;
}
.pojbuttom:hover{
  border-color: #855454;


}
 @media screen and (max-width: 1100px) {
.buttomhead{
  height: 300px;
  flex-direction: column;
}
header{
  height:800px;
}

 }
  @media screen and (max-width: 758px) {
 .content{
   flex-direction: column;
   height: auto;
 }
 .content_text {
   flex: 20%;
 }
.content_items2{
      align-items: top;
}
.header h1{
  font-size: 40px;
}
 .pojbuttom{
   width: 250px;
   text-align: center;
   font-size: 13px;
 }
 .images {
   width: 86%;
 }
 .project{
   height: 150px;
 }
 .header {
   height: 980px;
 }
 .content_text2{
   height: 280px;
 }
 header {
   height: 980px;
 }

}
@media screen and (max-width: 568px) {
  .analysis{
    height: 500px;

    flex-direction: column;
  }
  .analysis h1{
    margin: 40px;
  }
}
@media screen and (max-width: 450px) {
.pojbuttom{
  width: 250px;
  text-align: center;
  font-size: 13px;
}
.agitation{
  height: 200px;

}
.images{
  width: 100%;
}
.header h1{
  font-size: 33px;
  margin: 0px 10px;
}
h3{
  font-size: 18px;
}
p{
  font-size: 15px;
}
.project{
  height: 250px;
}
}
